/*Version 1.6*/
h1 {
  font-size: 200%;
}

.nav {
  font-size: 110%;
  margin-top: 35px;
}

.orange {
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.orange {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.orange:hover {
  background-color: #008CBA;
  color: white;
}

#logo {
  float: left;
  margin-top: -40px;
  margin-left: -5px;
}

.Paragragh {
    float: left;
    font-size: medium;
    padding: 10px;
    border-style: groove;
    border-width: 5px;
    border-color: #00008B;
    background-color: none;
    margin-top: 50px;
}

.organization {
  padding: 0px, 80px, 1000px;
  height: auto;
  length: 500px;
  overflow: hidden;
  word-spacing: 20px;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%
}

h3 {
  font-size: 200%
}

h4 {
  font-size: 200%;
}

h5 {
  font-size: 150%;
}

h6 {
  font-size: 300%;
}

p {
  font-size: 120%;
}

li {
  font-size: 120%;
}

body {
  animation-name: fadeInTopLeft;
  animation-duration: 2s;
  animation-delay: -0.05s;
}

.m {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.b {
  border-color: yellow;
  border-style: double;
  border-width: 2px;
}

.slogan {
  padding-left: 10px;
  margin-top: 7px;
  margin-bottom: 30px;
  font-size: 120%;
}

.footer {
  clear: both;
  font-weight: 500;
  color: gray;
  background-color: #d9d9d9;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 90%;
}

.nextbutton {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  background-color: inherit;
  font-weight: 500;
  font-size: 200%;
  color: gray;
  background-color: #d9d9d9;
  padding-right: 10px;
  margin-top: -100px;
}

.nextbutton:hover {background: #eee;}
