/*Version 2.03*/
body {
}

.nav {
  font-size: 110%;
  margin-top: 35px;

  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: -0.05s;

  @media only screen and (max-width: 800px) {
    font-size: 450%;
  }
}

.orange {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.orange:hover {
  background-color: #008CBA;
  color: white;
}

#logo {
  float: left;
  margin-top: -40px;
  margin-left: -5px;

  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: -0.05s;

  @media only screen and (max-width: 800px) {
    width: 200%;
    length: 200%
  }
}

.Paragragh {
    float: left;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    background-color: #000124;
    margin-top: 50px;
}

.organization {
  padding: 0px, 80px, 1000px;
  height: auto;
  length: 500px;
  overflow: hidden;
  word-spacing: 20px;
}

.title {
  font-family: "Roboto";
  font-weight: 450;
}

h1 {
  font-size: 250%;

  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: -0.05s;
}

h2 {
  font-size: 180%;

  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: -0.05s;
}

h3 {
  font-size: 180%;

  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: -0.05s;
}

h4 {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: -0.05s;
}

h5 {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: -0.05s;
}

h6 {
  font-size: 700%;

  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: -0.05s;
}

p {
  font-size: 120%;

  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: -0.05s;
}

li {
  font-size: 150%;
  font-style: oblique;
  font-weight: bold;

  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: -0.05s;
}

#textxy {
  font-family: 'Anton', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  opacity: 0.7;
  z-index: auto;
}

#x {
  height: 650px;
  length: 80%;
  overflow: hidden;
  color: black;
  font-weight: bold;
  font-style: oblique;
  background-color: white;
  background-image: url(https://blog.datumize.com/hubfs/future%20goals.jpg);
  background-repeat: no-repeat;
  background-size: 99%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  opacity: 1;
  z-index: auto;
}

a.tcl:link {color: yellow;}
a.tcl:visted {color: red;}
a.tcl:hover {text-decoration: none;}

.r {
  font-size: 10%;
}

.footer {
  clear: both;
  font-weight: 500;
  color: gray;
  background-color: #d9d9d9;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 80%;
}
