/*Version 2.02*/
.nav {
  font-size: 110%;
  margin-top: 35px;
}

#logo {
  float: left;
  margin-top: -40px;
  margin-left: -5px;
}

.title {
  font-family: "Roboto";
  font-weight: 450;
}

.organization {
  padding: 0px, 80px, 1000px;
  height: auto;
  length: 500px;
  overflow: hidden;
  word-spacing: 20px;
}

.orange {
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.orange {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.orange:hover {
  background-color: #008CBA;
  color: white;
}

h1 {
  font-size: 450%;
  font-weight: 600;
}

h2 {
  font-size: 280%;
}

body {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: -0.05s;
}

.xxx {
  padding: 0px 30% 20px 30%;
}

.img {
  width: 75%;
  length: 75%;
  margin-top: 0px;
  min-width: 350px;
  border-color: black;
  border-style: solid;
}

.footer {
  clear: both;
  font-weight: 500;
  color: gray;
  background-color: #d9d9d9;
  padding-top: 50px;
  padding-bottom: 50px;
}
